.portfolio__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bar);
    padding: 2rem 6rem 1rem 6rem;
}

.portfolio__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 90px;
    
}

.portfolio__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.portfolio__footer-links {
    display: flex;
}

.portfolio__footer-links img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}


.portfolio__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.portfolio__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .portfolio__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .portfolio__footer-links div {
        margin: 1rem 0;
    }

    .portfolio__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .portfolio__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }

    .portfolio__footer-links{
        align-items: center;
    }
    
    .portfolio__footer-links img {
        visibility: hidden;
    }
}